[TITLE]
title ={"Sheet1":"title"}
[MODE]
mode ={"Sheet1":"all"}
[MODE1]
mode1 ={"variable":"all"}
[MYSQL]
cis_8 = {"host":"121.36.143.205","user":"eslink123","password":"Eslink@123","port":3306,"database":"cis8","charset":"utf8"}
[MODE2]
mode ={"Sheet1":"all","Sheet2":[1,2]}
[DATA]
data=os.path.join(project_path, 'Test_Data', 'Test_Data.xlsx')